<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="circle-odd" ></div>
    <img src="../assets/card-image.png" alt="" class="card-image">
    <main>
        <section class="">
            <div class="circle-one"></div>
            <div class="circle-two"></div>


            <div class="first-box">
                <div class="first-box-content">
                    <p>Start Shipping Today With <br>
                    3 Simple Steps!</p>

                    <ul>
                        <li>
                            <div class="num">1</div>
                            <div class="con">
                                <p class="para-one">KYC Verification </p>
                                <p class="para-two">It takes only 30 secs to complete</p>
                            </div>
                        </li>

                        <li>
                            <div class="num">2</div>
                            <div class="con">
                                <p class="para-one">Recharge Your Wallet</p>
                                <p class="para-two">Add Credits and start shipping today</p>
                            </div>
                        </li>

                        <li>
                            <div class="num">3</div>
                            <div class="con">
                                <p class="para-one">Place Your Order </p>
                                <p class="para-two">Create your order with 3 steps</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="second-box">
                <div class="second-box-content">
                    <div class="main-logo">
                        <img src="../assets/main-logo.png" alt="" height="70px" width="180px">
                    </div>

                    <div class="login">
                        <p>Login</p>
                    </div>

                    <div class="form-content">
                        <form action="">
                            <p class="form-lable">Email id/Mobile No</p>
                            <p class="form-input"><input type="text" placeholder="Enter Email id/Mobile No" required></p>
                            <p class="form-lable">Password</p>
                            <p class="form-input"><input type="text" placeholder="Enter Password"required></p>
                        </form>
                    </div>

                    <div class="forgot">
                        <p><a routerLink="#"> Forgot Password?</a></p>
                    </div>

                    <div class="login-btn">
                        <button type="submit"> LOGIN</button>
                    </div>

                    <div class="signup">
                        <p>Don't have an account? <a routerLink="#">Sign up Now</a></p>
                    </div>
                </div>         
            </div>
        </section>
    </main>
</body>
</html>